/app/bootstrap.php.cache
/app/cacheOriginal/*
!app/cacheOriginal/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/css/built
/web/js/built
/node_modules