{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    </div>
    <div class="topbar_margin"></div>
    <div class="row-welcome{$content_class}">
        <div class="row-body">
            <div class="welcome-inner">
                <div class="welcome-message">
                    <div class="welcome-title">
                        Oh boy! We have a serious Problem!!
                    </div>
                    <div class="welcome-desc">
                        Please go back where you came from and try again another thing
                    </div>
                    <div class="welcome-about">
                        Thanks <a href="">Back</a>
                    </div>
                </div>
                <div class="welcome-inputs">


                </div>
            </div>
        </div>
    </div>
    <div class="welcome-full">
        <div class="row-body">
            <div class="welcome-inner">
                <!-- {$rows}-->
            </div>
        </div>
    </div>

{% endblock %}