{% extends 'DemoBundle::layout.html.twig' %}

{% block body -%}
    <div class="row-body content-profile">
    <h1>Demo list</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Map</th>
                <th>Time</th>
                <th>Location</th>
                <th>Details</th>
                <th>Posted</th>
                <th>Actions</th>


            </tr>
        </thead>
        <tbody>
        {#  {{ render(controller('DemoBundle:Demo:_upcomingDemos', { 'max': 1 })) }}#}
       {{ render(controller('DemoBundle:Demo:_upcomingDemos')) }}

        </tbody>
    </table>

        <a href="{{ path('demo_new') }}">
            <button class="btn btn-primary">
                Create a new entry
        </button>
            </a>

    </div>
    {% endblock %}
